<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lykhan Crypto</title>

    
</head>
    
<body>

    <style>
        *{
            margin: 0;
            padding: 0;
            text-align:center;
            background-color:rgb(117, 38, 38);
            color:white;
        }
        h1{
            margin: 4% 0;
        }
    </style>


    <h1>Lykhan Crypto</h1>
    <p>Autonomous Crypto Arbitrage AI Agent</p>

    <p>Binance API {{ dummy_value }}</p>
</body>
</html>